<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>

<div class="container text-center mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h3 class="mb-4">Log In</h3>

      <% if (authError) { %>
      <div class="alert alert-danger"><%= authError %></div>
      <% } %>
      <form action="/auth/login" method="post">
        <div class="form-group mb-3">
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            required
            value="<%= typeof email !== 'undefined' ? email : '' %>"
          />
          <% if (typeof validationErrors !== 'undefined') {
          validationErrors.forEach(error => { if (error.path === 'email') { %>
          <small class="text-danger d-block" style="text-align: left">
            <span class="dot">&#8226;</span> <%= error.msg %>
          </small>
          <% } }); } %>
        </div>
        <div class="form-group mb-3">
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required
          />

          <% if (typeof validationErrors !== 'undefined') {
          validationErrors.forEach(error => { if (error.path === 'password') { %>
          <small class="text-danger d-block" style="text-align: left">
            <span class="dot">&#8226;</span> <%= error.msg %>
          </small>
          <% } }); } %>
        </div>
        <button type="submit" class="btn btn-primary w-100">Log In</button>
      </form>
    </div>
  </div>
</div>

<%- include('parts/footer.ejs') %>